{% extends "base.html" %}

{% block menu %}
    <li><a href="/login">Login</a></li>
    <li class="active"><a href="/cadastro">Cadastro</a></li>
{% endblock menu %}

{% block mainContent %}
    {% if errors %}
	    <div class="alert alert-danger">
            {% for e in errors %}
                {{ e }}<br/>
            {% endfor %}
	    </div>
    {% endif %}
    <form class="form-signin" action="/cadastrar/" method="post">
        {% csrf_token %}
        <h1 class="form-signin-heading">Cadastro Trilha #SP</h1>
	    <input type="text" class="form-control" placeholder="Nome" required autofocus name="username">
        <input type="text" class="form-control" placeholder="e-mail" required name="email">
        <input type="password" class="form-control" placeholder="senha" required name="password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Criar Cadastro</button>
    </form>
{% endblock mainContent %}
      
