{% extends "base.html" %}

{% block menu %}
    <li class="active"><a href="/">Perfil</a></li>
    <li><a href="escolhe-linha">Fazer Avaliação</a></li>
{% endblock menu %}


{% block mainContent %}

    <form class="form-signin">  
      <h1>Moedas Trilha #SP</h1>

<div class="col-xs-6"><strong>Ônibus</strong></div><div class="col-xs-6"><strong>Preço Aproximado Real</strong></div>
<div class="col-xs-6">Micro-ônibus (M)</div><div class="col-xs-6">R$ 150 000,00</div>
      <div class="col-xs-6">Padron (P)</div><div class="col-xs-6">R$ 300 000,00</div>
  <div class="col-xs-6">Padron Etanol (E)</div><div class="col-xs-6">R$ 460 000,00</div>
  <div class="col-xs-6">Trólebus (T)</div><div class="col-xs-6">R$ 600 000,00</div>
  <div class="col-xs-6">Articulado (A)</div><div class="col-xs-6">R$ 650 000,00</div>
  <div class="col-xs-6">Biarticulado (B)</div><div class="col-xs-6">R$ 850 000,00</div>

<div class="col-xs-3"><strong>Ônibus</strong></div><div class="col-xs-3"><strong>Ouro</strong></div><div class="col-xs-3"><strong>Prata</strong></div><div class="col-xs-3"><strong>Bronze</strong></div>
<div class="col-xs-3">M</div><div class="col-xs-3">5</div><div class="col-xs-3">15</div><div class="col-xs-3">45</div>
<div class="col-xs-3">P</div><div class="col-xs-3">10</div><div class="col-xs-3">30</div><div class="col-xs-3">90</div>
<div class="col-xs-3">E</div><div class="col-xs-3">15</div><div class="col-xs-3">45</div><div class="col-xs-3">135</div>
<div class="col-xs-3">T</div><div class="col-xs-3">20</div><div class="col-xs-3">60</div><div class="col-xs-3">180</div>
<div class="col-xs-3">A</div><div class="col-xs-3">22</div><div class="col-xs-3">66</div><div class="col-xs-3">198</div>
<div class="col-xs-3">B</div><div class="col-xs-3">28</div><div class="col-xs-3">84</div><div class="col-xs-3">252</div>

      </form>
{% endblock mainContent %}
