<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Trilha #SP</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="funcoes.js"></script>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Trilha #SP</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
	    <li><a href="perfil.html">Perfil</a></li>
            <li class="active"><a href="informar-linha.html">Informar Linha</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      
      <form class="form-signin">
        <h1 class="form-signin-heading">Informar Linha</h1>
	<input type="text" class="form-control" placeholder="" required autofocus>

        <a onClick="avaliacaoGeral()" id="btnComecarAvaliacao" class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top:10px;">Começar a Avaliação</a>
      </form>
    </div> <!-- /container -->
    


    <div class="container" id="avaliacao-geral">

      <form class="form-signin">
       <h1>Avaliação Geral do Ônibus</h1>
	   <!-- Inicio avaliacao collapse1 -->
	   <div id="avaliacao-1">
	       <div id="slider-1"></div>
	       <script>
	           $(document).ready(function(){
	    
	           $('#slider-1').slider({
                   value:50,
	               slide:function(event, ui){
    	               console.log(ui.value);
    	           }
	               });
	           });
	       </script>
	       <div class="col-xs-4">Péssimo</div>
	       <div class="col-xs-4 text-center">Indiferente</div>
	       <div class="col-xs-4 text-right">Excelente</div>	
        </div>
	   <!-- fim avaliacao collapse1 -->
        
        <div style="margin-top:30px">
          <a href="perguntas-especificas.html" class="btn btn-lg btn-primary btn-block">Continuar</a>
        </div>
      </form>
    
    </div> <!-- /container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
  
  
</html>
