<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Trilha #SP</title>

    <!-- Bootstrap core CSS -->
    <link href="../staticfiles/css/libs/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../staticfiles/css/style.css" rel="stylesheet">
    
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Trilha #SP</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="perfil.html">Perfil</a></li>
            <li><a href="informar-linha.html">Fazer Avaliação</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      
      <form class="form-signin">
        <h1 class="form-signin-heading">Fulano da Silva</h1>
	<h4 style="color:grey;"><i>Fiscal do povo</i></h4>
	
	<h2>Suas moedas</h2>
	<div class="col-xs-4">
	  <button id="moedas-ouro" type="button" class="btn btn-star btn-moeda btn-default btn-lg disabled" style="background:gold;">
	    <span class="glyphicon glyphicon-usd"></span>
	  </button>
	  <div>
	    <button type="button" class="btn btn-noborder btn-default btn-lg disabled"><strong>1</strong></button>
	  </div>
	</div>

	<div class="col-xs-4">
	  <button id="moedas-prata" type="button" class="btn btn-star btn-moeda btn-default btn-lg disabled" style="background:silver;">
	    <span class="glyphicon glyphicon-usd"></span>
	  </button>
	  <div>
	    <button type="button" class="btn btn-noborder btn-default btn-lg disabled"><strong>2</strong></button>
	  </div>
	</div>

	<div class="col-xs-4">
	  <button id="moedas-bronze" type="button" class="btn btn-star btn-moeda btn-default btn-lg disabled" style="background:#B87333;">
	    <span class="glyphicon glyphicon-usd"></span>
	  </button>
	  <div>
	    <button type="button" class="btn btn-noborder btn-default btn-lg disabled"><strong>4</strong></button>
	  </div>
	</div>


	<h2>Sua frota</h2>

	<div class="col-xs-4"><img class="image-fit" src="../staticfiles/img/articulado.jpg"></div>
	<div class="col-xs-4"><img class="image-fit" src="../staticfiles/img/biartic.jpg"></div>
	<div class="col-xs-4"><img class="image-fit" src="../staticfiles/img/padron.svg"></div>

	
	<div class="col-xs-4 text-center"><strong>Articulado</strong></div>
	<div class="col-xs-4 text-center"><strong>Biarticulado</strong></div>	
	<div class="col-xs-4 text-center"><strong>Padrão</strong></div>

	
	<div class="col-xs-4 text-center"><strong>1</strong></div>
	<div class="col-xs-4 text-center"><strong>3</strong></div>
	<div class="col-xs-4 text-center"><strong>5</strong></div>

	
        <div class="col-xs-4"><img style="margin-bottom:-140px;" class="image-fit" src="../staticfiles/img/padron_etanol.svg"></div>
        <div class="col-xs-4"><img style="margin-top:40px;margin-bottom:-120px;" class="image-fit" src="../staticfiles/img/micro_onibus.svg"></div>
	   <div class="col-xs-4"><img style="margin-top:40px;" class="image-fit" src="../staticfiles/img/trolebus.svg"></div>


	<div class="col-xs-4 text-center"><strong>Padrão Etanol</strong></div>
	<div class="col-xs-4 text-center"><strong>Micro-ônibus</strong></div>	
	<div class="col-xs-4 text-center"><strong>Trólebus</strong></div>

	
	<div class="col-xs-4 text-center"><strong>4</strong></div>
	<div class="col-xs-4 text-center"><strong>0</strong></div>
	<div class="col-xs-4 text-center"><strong>2</strong></div>
        

      </form>
    </div> <!-- /container -->
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
  
  
    <!-- JavaScript -->
    <script type="text/javascript" src="../staticfiles/js/libs/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../staticfiles/js/libs/bootstrap.min.js"></script>
</html>
