{% extends "base.html" %}
{% load static from staticfiles %}

{% block menu %}
    <li class="active"><a href="/">Perfil</a></li>
    <li><a href="escolhe-linha">Fazer Avaliação</a></li>
{% endblock menu %}


{% block mainContent %}
      
      <form class="form-signin">
        <h1 class="form-signin-heading">Fulano da Silva</h1>
	<h4 style="color:grey;"><i>Fiscal do povo</i></h4>
	
	<h2>Suas moedas</h2>
	<div class="col-xs-4">
	  <button id="moedas-ouro" type="button" class="btn btn-star btn-moeda btn-default btn-lg disabled" style="background:gold;">
	    <span class="glyphicon glyphicon-usd"></span>
	  </button>
	  <div>
	    <button type="button" class="btn btn-noborder btn-default btn-lg disabled"><strong>1</strong></button>
	  </div>
	</div>

	<div class="col-xs-4">
	  <button id="moedas-prata" type="button" class="btn btn-star btn-moeda btn-default btn-lg disabled" style="background:silver;">
	    <span class="glyphicon glyphicon-usd"></span>
	  </button>
	  <div>
	    <button type="button" class="btn btn-noborder btn-default btn-lg disabled"><strong>2</strong></button>
	  </div>
	</div>

	<div class="col-xs-4">
	  <button id="moedas-bronze" type="button" class="btn btn-star btn-moeda btn-default btn-lg disabled" style="background:#B87333;">
	    <span class="glyphicon glyphicon-usd"></span>
	  </button>
	  <div>
	    <button type="button" class="btn btn-noborder btn-default btn-lg disabled"><strong>4</strong></button>
	  </div>
	</div>


	<h2>Sua frota</h2>

	<div class="col-xs-4"><img class="image-fit" src="{% static 'img/articulado.jpg' %}"></div>
        <div class="col-xs-4"><img class="image-fit" src="{% static 'img/biartic.jpg' %}"></div>
        <div class="col-xs-4"><img class="image-fit" src="{% static 'img/padron.svg' %}"></div>

	
	<div class="col-xs-4 text-center"><strong>Articulado</strong></div>
	<div class="col-xs-4 text-center"><strong>Biarticulado</strong></div>	
	<div class="col-xs-4 text-center"><strong>Padrão</strong></div>

	
	<div class="col-xs-4 text-center"><strong>1</strong></div>
	<div class="col-xs-4 text-center"><strong>3</strong></div>
	<div class="col-xs-4 text-center"><strong>5</strong></div>

	
        <div class="col-xs-4"><img style="margin-bottom:-140px;" class="image-fit" src="{% static 'img/padron_etanol.svg' %}"></div>
        <div class="col-xs-4"><img style="margin-top:40px;margin-bottom:-120px;" class="image-fit" src="{% static  'img/micro_onibus.svg' %}"></div>
        <div class="col-xs-4"><img style="margin-top:40px;" class="image-fit" src="{% static 'img/trolebus.svg' %}"></div>


	<div class="col-xs-4 text-center"><strong>Padrão Etanol</strong></div>
	<div class="col-xs-4 text-center"><strong>Micro-ônibus</strong></div>	
	<div class="col-xs-4 text-center"><strong>Trólebus</strong></div>

	
	<div class="col-xs-4 text-center"><strong>4</strong></div>
	<div class="col-xs-4 text-center"><strong>0</strong></div>
	<div class="col-xs-4 text-center"><strong>2</strong></div>
        

      </form>
{% endblock mainContent %}
