table td, table th {
  text-align:center;
}

.image-fit {
    margin-top:20px;
    margin-bottom:10px;
    max-width:100%;
    max-heigth:100%;
}

.ui-slider .ui-slider-handle{
    width:50px; 
    height:50px; 
    background:url(../images/slider_grabber.png) no-repeat; overflow: hidden; 
    position:absolute;
    top: -10px;
    border-style:none; 
}

.reclamacao {
    margin-top:30px;
    color:grey;
}

#reclamacao-1 {
display:none;
}

#avaliacao-geral {
    visibility:hidden;
}

.btn-noborder {
    border:none;
    background:transparent !important;
 }

.btn-moeda, disabled{
    opacity:1.0 !important;
}

.onibus-x {
    margin-bottom:30px;
    font-size: 16px;
}

.onibus-x-title {
    margin-bottom:30px;
    font-size:18px;
    color:grey;
}

.btn-star {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 50px !important;
   border:none;
}

.btn a:visited {
    color:white;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* cols */
/*
.container {
  padding-left: 15px;
  padding-right: 15px;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  border: 1px solid #ddd;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
*/